.htmlContainer {
	width: fit-content !important;
	padding: 0 !important;
}
.swalPopup {
	width: fit-content;
	padding: 0;
	background: none;
}

@media screen and (max-width: 600px) {
	.htmlContainer {
		width: 100% !important;
		padding: 0 !important;
	}
	.swalPopup {
		width: 100%;
		padding: 0;
		background: none;
	}
}
